<div class="card flex-fill">
    <div class="card-header border-0 pb-0">
        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
            <h4>
                <i class="ti ti-grip-vertical me-1"></i>
                Tracking visit DRS
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive custom-table ">
            <table class="table dataTable" id="deals-project">
                <thead class="thead-light">
                    <tr>
                        <th>Province</th>
                        <th>N/D</th>
                        <th>SOS</th>
                        <th>OOS</th>
                        <th>DRs</th>
                        <th>Visit</th>
                        <th>Objectifs</th>
                        <th>Perf.</th>
                    </tr>
                </thead>
                <tbody>
                    @if (isLoading) {
                    <div class=" text-center d-flex justify-content-center align-items-center ">
                        <div class="spinner-border bs-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    } @else {
                    @for (item of trackingVisitDRList; track $index) {
                    <tr class="odd">
                        <td>{{item.Province}}</td>
                        <td>
                            @if (item.Nd > 50) {
                            <span class="badge badge-pill bg-success">{{item.Nd}} %</span>
                            } @else {
                            <span class="badge badge-pill bg-danger">{{item.Nd}} %</span>
                            }
                        </td>
                        <td>
                            @if (item.Sos > 50) { <span class="badge badge-pill bg-success">{{item.Sos}} %</span>
                                } @else {
                                <span class="badge badge-pill bg-danger">{{item.Sos}} %</span>
                                }
                        </td>
                        <td>
                            @if (item.Oos < 50) { <span class="badge badge-pill bg-success">{{item.Oos}} %</span>
                                } @else {
                                <span class="badge badge-pill bg-danger">{{item.Oos}} %</span>
                                }
                        </td>
                        <td>{{item.Dr}}</td>
                        <td>{{item.Visit}} </td>
                        <td>{{item.Obj }} </td>
                        <td>
                            @if (item.Perf > 50) { <span class="badge badge-pill bg-success">{{item.Perf}} %</span>
                                } @else {
                                <span class="badge badge-pill bg-danger">{{item.Perf}} %</span>
                                }
                        </td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>