<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <h4 class="page-title">
                                AREAS<span class="count-title">{{ length }}</span>
                            </h4>
                        </div>
                        <div class="col-8 text-end">
                            <div class="head-icons">
                                <app-reload></app-reload>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card">
                    <div class="card-header">
                        <!-- Search -->
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <div class="icon-form mb-3 mb-sm-0">
                                    <span class="form-icon"><i class="ti ti-search"></i></span>
                                    <input type="text" (keyup)="applyFilter($event)" class="form-control"
                                        placeholder="Ex. Funa" #input />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                    <div class="dropdown me-2">
                                        <a href="javascript:void(0);" class="dropdown-toggle"
                                            data-bs-toggle="dropdown"><i
                                                class="ti ti-package-export me-2"></i>Export</a>
                                        <div class="dropdown-menu  dropdown-menu-end">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="ti ti-file-type-pdf text-danger me-1"></i>Export as
                                                        PDF</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="ti ti-file-type-xls text-green me-1"></i>Export as
                                                        Excel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvas_add">
                                        <i class="ti ti-square-rounded-plus me-2"></i>
                                        Add New area
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /Search -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-table">
                            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                                class="mat-elevation-z2 table">

                                 <!-- province Column -->
                                 <ng-container matColumnDef="province">
                                    <th mat-header-cell *matHeaderCellDef> Province </th>
                                    <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name sup </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container> 

                                <!-- commune Column -->
                                <ng-container matColumnDef="commune">
                                    <th mat-header-cell *matHeaderCellDef> Commune </th>
                                    <td mat-cell *matCellDef="let element"> 
                                        <app-area-commune [commune]="element.commune"></app-area-commune>
                                    </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="sup">
                                    <th mat-header-cell *matHeaderCellDef> Sup </th>
                                    <td mat-cell *matCellDef="let element"> {{element.sup}} </td>
                                </ng-container> 

                                <!-- id Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button (click)="findValue(element.id)"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit">
                                            <mat-icon class="text-blue">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="findValue(element.id)" data-bs-toggle="modal"
                                            data-bs-target="#delete_contact">
                                            <mat-icon class="text-danger">delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    @if (isLoadingData){
                                    <button disabled class="btn btn-primary">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </button>
                                    } @else {
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    }
                                </tr>
                            </table>
                        </div> 
                        <mat-paginator [length]="length" [pageSize]="pageSize"
                            [pageSizeOptions]="[15, 20, 30, 40, 50, 80, 100]" showFirstLastButtons
                            (page)="onPageChange($event)" aria-label="Select page">
                        </mat-paginator>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="datatable-length"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="datatable-paginate"></div>
                            </div>
                        </div>
                        <!-- /Projects List -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<!-- Add New Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">

    <div class="offcanvas-header border-bottom">
        <h4>Add New Area</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="location">Province <span
                                    class="text-danger">*</span></label>
                            <mat-select class="select custom-mat-select" formControlName="province_id"
                                placeholder="Choose province">
                                @for (item of provinceList; track item) {
                                <mat-option value="{{item.ID}}">{{item.name}}</mat-option>
                                }
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls['province_id'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">Name area <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="name" required />
                            <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="reason">Commune </label>
                            <p-chips class="input-tags form-control" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="communeList"></p-chips>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="location">Superviseur <span
                                    class="text-danger">*</span></label>
                            <mat-select class="select custom-mat-select" formControlName="sup_id"
                                placeholder="Choose superviseur">
                                @for (item of supList; track item) {
                                <mat-option value="{{item.ID}}">{{item.name}}</mat-option>
                                }
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls['sup_id'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Create</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Add New Contracts -->


<!-- Edit Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">

    <div class="offcanvas-header border-bottom">
        <h4>Edit AREA</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
            <div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label" for="text">Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="name" required />
                                <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="col-form-label" for="location">Province <span
                                    class="text-danger">*</span></label>
                            <mat-select [compareWith]="compareFn" class="select custom-mat-select"
                                formControlName="province_id" placeholder="Choose province">
                                @for (item of provinceList; track item) {
                                <mat-option value="{{item.ID}}">{{item.name}}</mat-option>
                                }
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls['province_id'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="reason">Commune </label>
                            <p-chips class="input-tags form-control" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="communeList"></p-chips>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="col-form-label" for="location">Superviseur <span
                                    class="text-danger">*</span></label>
                            <mat-select [compareWith]="compareFn" class="select custom-mat-select"
                                formControlName="province_id" placeholder="Choose province">
                                @for (item of supList; track item) {
                                <mat-option value="{{item.ID}}">{{item.name}}</mat-option>
                                }
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Save Changes</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Edit Contracts -->

<!-- Delete User -->
<div class="modal fade" id="delete_contact" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove item?</h4>
                    <p class="mb-0">Are you sure you want to remove it</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button (click)="delete()" class="btn btn-danger" data-bs-dismiss="modal">
                            Yes, Delete it
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete User -->