<div class="card-header border-0 pb-0">
    <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
        <h4><i class="ti ti-grip-vertical me-1"></i>Share of stock</h4>
    </div>
    <div class="card-body">
        @if (isLoading) {
        <div class=" text-center d-flex justify-content-center align-items-center ">
            <div class="spinner-border bs-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        } @else {
        <div id="leadpiechart">
            <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [labels]="chartOptions3.labels"
                [responsive]="chartOptions3.responsive" [legend]="chartOptions3.legend"></apx-chart>
        </div>
        }
    </div>
</div>