<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h3 class="page-title">Tableau de bord</h3>
            </div>
            <div class="col-md-8 float-end ms-auto">
              <div class="d-flex title-head">
                <div class="daterange-picker d-flex align-items-center justify-content-center">
                  <div class="form-sort me-2">
                    <i class="ti ti-calendar"></i>
                    <input type="text" class="form-control date-range bookingrange" bsDaterangepicker
                      [bsConfig]="{ adaptivePosition: true }" [(ngModel)]="bsRangeValue" />
                  </div>
                  <div class="head-icons mb-0">
                    <a [routerLink]="routes.msposDashboard" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-original-title="Refresh" matTooltip="Refresh"><i class="ti ti-refresh-dot"></i></a>
                    <app-collapse-header></app-collapse-header>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Campaign Status -->
    <app-stats-total></app-stats-total>
    <!-- /Campaign Status -->
    <div class="row ">
      <div class="col-md-6 d-flex">
        <div class="card flex-fill">
          <div class="card-header border-0 pb-0">
            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3">
              <h4>
                <i class="ti ti-grip-vertical me-1"></i>
                Tracking visit DRS
              </h4>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table ">
              <table class="table dataTable" id="deals-project">
                <thead class="thead-light">
                  <tr>
                    <th>Province</th>
                    <th>N/D</th>
                    <th>SOS</th>
                    <th>OOS</th>
                    <th>SISH</th>
                    <th>Perf. Vist DRs</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd">
                    <td>KINSHSASA</td>
                    <td>85%</td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-success">95%</span>
                    </td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-danger">5%</span>
                    </td>
                  </tr>
                  <tr class="even">
                    <td>KINSHSASA</td>
                    <td>85%</td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-success">95%</span>
                    </td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-danger">5%</span>
                    </td>
                  </tr>
                  <tr class="odd">
                    <td>KINSHSASA</td>
                    <td>85%</td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-success">95%</span>
                    </td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-danger">5%</span>
                    </td>
                  </tr>
                  <tr class="even">
                    <td>KINSHSASA</td>
                    <td>85%</td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-success">95%</span>
                    </td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-danger">5%</span>
                    </td>
                  </tr>
                  <tr class="odd">
                    <td>KINSHSASA</td>
                    <td>85%</td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-success">95%</span>
                    </td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-danger">5%</span>
                    </td>
                  </tr>
                  <tr class="odd">
                    <td>KINSHSASA</td>
                    <td>85%</td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-success">95%</span>
                    </td>
                    <td>85%</td>
                    <td>
                      <span class="badge badge-pill bg-danger">5%</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex">
        <div class="card flex-fill">
          <app-shish-pie></app-shish-pie>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="card shadow flex-fill">
          <app-sumary-chart-bar></app-sumary-chart-bar>
        </div> 
      </div>
    </div>
  </div>
</div>