@if (isLoading) {
<div class=" text-center d-flex justify-content-center align-items-center ">
  <div class="spinner-border bs-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
} @else {
<div class="table-responsive custom-table">
  <table class="table dataTable" id="deals-project">
    <thead class="thead-light">
      <tr>
        <th>AREA</th>
        <th>EQ</th>
        <th>DHL</th>
        <th>AR</th>
        <th>SBL</th>
        <th>PMF</th>
        <th>PMM</th>
        <th>TICKET</th>
        <th>MTC</th>
        <th>WS</th>
        <th>MAST</th>
        <th>ORIS</th>
        <th>ELITE</th>
        <th>YES</th>
        <th>TIME</th>
      </tr>
    </thead>
    <tbody>
      @for (item of tableViewList; track $index) {
      <tr class="odd">
        <td>{{item.Area}}</td>
        <td>
          @if ((100 - item.Eq) < 50) { <span class="badge badge-pill bg-danger">{{100 - item.Eq}} %</span>
            }
            @if ((100 - item.Eq) >= 50) {
            <span class="badge badge-pill bg-success">{{100 - item.Eq}} %</span>
            }
        </td>
        <td> {{ 100 - item.Dhl}} %</td>
        <td>{{100 - item.Ar}} %</td>
        <td>{{100 - item.Sbl}} %</td>
        <td>{{100 - item.Pmf}} %</td>
        <td>{{100 - item.Pmm}} %</td>
        <td>{{100 - item.Ticket}} %</td>
        <td>{{100 - item.Mtc}} %</td>
        <td>{{100 - item.Ws}} %</td>
        <td>{{100 - item.Mast}} %</td>
        <td>{{100 - item.Oris}} %</td>
        <td>{{100 - item.Elite}} %</td>
        <td>{{100 - item.Yes}} %</td>
        <td>{{100 - item.Time}} %</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}