<div class="map-container">
    
    <img src="img/map.jpg" alt="Map" class="map-image">

    
    <div class="map-marker marker-1"></div>
    <div class="map-marker marker-2"></div>
    <div class="map-marker marker-3"></div>
    <div class="map-marker marker-4"></div>
    <div class="map-marker marker-5"></div>
    <div class="map-marker marker-6"></div>
    <div class="map-marker marker-7"></div>
    <div class="map-marker marker-8"></div>
    <div class="map-marker marker-9"></div>
    <div class="map-marker marker-10"></div>
    <div class="map-marker marker-11"></div>
    <div class="map-marker marker-12"></div>
    <div class="map-marker marker-13"></div>
    <div class="map-marker marker-14"></div>
    <div class="map-marker marker-15"></div>
    <div class="map-marker marker-16"></div>
    <div class="map-marker marker-16"></div>
    <div class="map-marker marker-17"></div>
    <div class="map-marker marker-18"></div>
    <div class="map-marker marker-19"></div>
    <div class="map-marker marker-20"></div>
    <div class="map-marker marker-21"></div>
    <div class="map-marker marker-22"></div>
    <div class="map-marker marker-23"></div>
    <div class="map-marker marker-24"></div>
    <div class="map-marker marker-25"></div>
    <div class="map-marker marker-26"></div>

</div>