<!-- Page Wrapper -->
<div class="page-wrapper">
    @if (currentUser) {
    <div class="content">

        <div class="row">
            <div class="col-md-12">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <h4 class="page-title">Profile</h4>
                        </div>
                        <div class="col-sm-8 text-sm-end">
                            <div class="head-icons">
                                <a [routerLink]="routes.contactDetails" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-original-title="Refresh" matTooltip="Refresh"><i
                                        class="ti ti-refresh-dot"></i></a>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <!-- Contact User -->
                <div class="contact-head">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <ul class="contact-breadcrumb">
                                <li><a href="javascript:void(0);">Users</a></li>
                                <li>{{ currentUser.fullname }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="d-flex align-items-center mb-2">
                                <div class="avatar avatar-xxl online online-sm me-3 flex-shrink-0">
                                    <img src="img/profiles/avatar-14.jpg" alt="img">
                                    <span class="status online"></span>
                                </div>
                                <div>
                                    <h5 class="mb-1">{{ currentUser.fullname }}</h5>
                                    <p class="mb-2">{{ currentUser.title }}</p>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-light bg-light-600 text-default me-3">
                                            <i class="ti ti-lock me-1"></i>
                                            {{ currentUser.permission }}
                                        </span>
                                        <!-- <p class="d-inline-flex align-items-center mb-0"><i class="fa-solid fa-star text-warning me-1"></i> 5.0</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="contacts-action">
                                <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#offcanvas_edit">
                                    <i class="ti ti-edit-circle"></i> Edit profile
                                </a>
                                <a href="javascript:void(0);" class="btn-icon" data-bs-toggle="offcanvas"
                                    data-bs-target="#add_compose">
                                    <i class="ti ti-mail"></i>
                                </a>
                                <a [routerLink]="routes.chat" class="btn-icon">
                                    <i class="ti ti-brand-hipchat"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Contact User -->

            </div>

            <!-- Contact Sidebar -->
            <div class="col-xl-3 theiaStickySidebar">
                <div class="card">
                    <div class="card-body p-3">
                        <h6 class="mb-3 fw-semibold">Basic Information</h6>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-mail"></i>
                                </span>
                                <p>{{ currentUser.email }}</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-phone"></i>
                                </span>
                                <p>{{ currentUser.phone }}</p>
                            </div>
                            <!-- <div class="d-flex align-items-center mb-3">
                                            <span class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                                <i class="ti ti-map-pin"></i>
                                            </span>
                                            <p>22, Ave Street, Newyork, USA</p>
                                        </div> -->
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-calendar-exclamation"></i>
                                </span>
                                <p>Created: {{ currentUser.created_at | date: 'dd/MM/yyyy' }}</p>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-3 fw-semibold">Other Information</h6>
                        <ul>
                            <li class="row mb-3">
                                <span class="col-6">Province</span>
                                <span class="col-6">
                                    <app-province-user [province_id]="currentUser.province_id"></app-province-user>
                                </span>
                            </li>
                            <li class="row mb-3"><span class="col-6">Area</span><span class="col-6">{{
                                    currentUser.area_id }}</span></li>
                            <li class="row mb-3"><span class="col-6">Supervisor</span><span class="col-6">{{
                                    currentUser.sup_id }}</span></li>
                            <li class="row mb-3"><span class="col-6">POS</span><span class="col-6">{{ currentUser.pos_id
                                    }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Contact Sidebar -->

            <!-- Contact Details -->
            <div class="col-xl-9">
                <div class="card mb-3">
                    <div class="card-body pb-0 pt-2">
                        <ul class="nav nav-tabs nav-tabs-bottom" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#notes"
                                    class="nav-link">
                                    <i class="ti ti-notes me-1"></i>Achievements</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#activities"
                                    class="nav-link active">
                                    <i class="ti ti-alarm-minus me-1"></i>Activities</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="tab-content pt-0">

                    <!-- Notes -->
                    <div class="tab-pane fade" id="notes">
                        <div class="card">
                            <div
                                class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                                <h4 class="fw-semibold">My achievements</h4>
                                <div class="d-inline-flex align-items-center">
                                    <div class="form-sort me-3 mt-0">
                                        <i class="ti ti-sort-ascending-2"></i>
                                        <mat-select class="select custom-mat-select space-mat-select"
                                            placeholder="Sort By Date">
                                            <mat-option value="Sort By Date">Sort By Date</mat-option>
                                            <mat-option value="Ascending">Ascending</mat-option>
                                            <mat-option value="Descending">Descending</mat-option>
                                        </mat-select>
                                    </div>
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_notes"
                                        class="link-purple fw-medium"><i class="ti ti-circle-plus me-1"></i>Add New</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="notes-activity">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between pb-2">
                                                <div class="d-inline-flex align-items-center mb-2">
                                                    <span class="avatar avatar-md me-2 flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-19.jpg" alt="img">
                                                    </span>
                                                    <div>
                                                        <h6 class="fw-medium mb-1">Darlee Robertson</h6>
                                                        <p class="mb-0">15 Sep 2023, 12:10 pm</p>
                                                    </div>
                                                </div>
                                                <div class="mb-2">
                                                    <div class="dropdown">
                                                        <a href="javascript:void(0);"
                                                            class="p-0 btn btn-icon btn-sm d-flex align-items-center justify-content-center"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="ti ti-dots-vertical"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="ti ti-edit text-blue me-1"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="ti ti-trash text-danger me-1"></i>Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h5 class="fw-medium mb-1">Notes added by Antony</h5>
                                            <p>A project review evaluates the success of an initiative and identifies
                                                areas for improvement. It can also evaluate a current project to
                                                determine whether it's on the right track. Or, it can determine the
                                                success of a completed project. </p>
                                            <div class="d-inline-flex align-items-center flex-wrap">
                                                <div class="note-download me-3">
                                                    <div class="note-info">
                                                        <span class="note-icon bg-secondary-success">
                                                            <i class="ti ti-file-spreadsheet"></i>
                                                        </span>
                                                        <div>
                                                            <h6 class="fw-medium mb-1">Project Specs.xls</h6>
                                                            <p>365 KB</p>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void(0);"><i class="ti ti-arrow-down"></i></a>
                                                </div>
                                                <div class="note-download">
                                                    <div class="note-info">
                                                        <span class="note-icon">
                                                            <img src="assets/img/media/media-35.jpg" alt="img">
                                                        </span>
                                                        <div>
                                                            <h6 class="fw-medium mb-1">090224.jpg</h6>
                                                            <p>365 KB</p>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void(0);"><i class="ti ti-arrow-down"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between pb-2">
                                                <div class="d-inline-flex align-items-center mb-2">
                                                    <span class="avatar avatar-md me-2 flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-20.jpg" alt="img">
                                                    </span>
                                                    <div>
                                                        <h6 class="fw-medium mb-1">Sharon Roy</h6>
                                                        <p class="mb-0">18 Sep 2023, 09:52 am</p>
                                                    </div>
                                                </div>
                                                <div class="mb-2">
                                                    <div class="dropdown">
                                                        <a href="javascript:void(0);"
                                                            class="p-0 btn btn-icon btn-sm d-flex align-items-center justify-content-center"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="ti ti-dots-vertical"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="ti ti-edit text-blue me-1"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="ti ti-trash text-danger me-1"></i>Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h5 class="fw-medium mb-1">Notes added by Antony</h5>
                                            <p>A project plan typically contains a list of the essential elements of a
                                                project, such as stakeholders, scope, timelines, estimated cost and
                                                communication methods. The project manager typically lists the
                                                information based on the assignment.</p>
                                            <div class="d-inline-flex align-items-center flex-wrap">
                                                <div class="note-download me-3">
                                                    <div class="note-info">
                                                        <span class="note-icon bg-secondary-success">
                                                            <i class="ti ti-file-text"></i>
                                                        </span>
                                                        <div>
                                                            <h6 class="fw-medium mb-1">Andrewpass.txt</h6>
                                                            <p>365 KB</p>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void(0);"><i class="ti ti-arrow-down"></i></a>
                                                </div>
                                            </div>
                                            <div class="reply-box">
                                                <p>The best way to get a project done faster is to start sooner. A goal
                                                    without a timeline is just a dream.The goal you set must be
                                                    challenging. At the same time, it should be realistic and
                                                    attainable, not impossible to reach.</p>
                                                <p>Commented by <span class="text-purple">Aeron</span> on 15 Sep 2023,
                                                    11:15 pm</p>
                                                <a href="javascript:void(0);" class="btn"><i
                                                        class="ti ti-arrow-back-up-double"></i>Reply</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between pb-2">
                                                <div class="d-inline-flex align-items-center mb-2">
                                                    <span class="avatar avatar-md me-2 flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-21.jpg" alt="img">
                                                    </span>
                                                    <div>
                                                        <h6 class="fw-medium mb-1">Vaughan</h6>
                                                        <p class="mb-0">20 Sep 2023, 10:26 pm</p>
                                                    </div>
                                                </div>
                                                <div class="mb-2">
                                                    <div class="dropdown">
                                                        <a href="javascript:void(0);"
                                                            class="p-0 btn btn-icon btn-sm d-flex align-items-center justify-content-center"
                                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                class="ti ti-dots-vertical"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="ti ti-edit text-blue me-1"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                                    class="ti ti-trash text-danger me-1"></i>Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>Projects play a crucial role in the success of organizations, and their
                                                importance cannot be overstated. Whether it's launching a new product,
                                                improving an existing</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Notes -->

                    <!-- Activities -->
                    <div class="tab-pane active show" id="activities">
                        <div class="card">
                            <div
                                class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
                                <h4 class="fw-semibold">Activities</h4>
                                <div>
                                    <div class="form-sort mt-0">
                                        <i class="ti ti-sort-ascending-2"></i>
                                        <mat-select class="select custom-mat-select space-mat-select"
                                            placeholder="Sort By Date">
                                            <mat-option value="Sort By Date">Sort By Date</mat-option>
                                            <mat-option value="Ascending">Ascending</mat-option>
                                            <mat-option value="Descending">Descending</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="badge badge-soft-purple fs-14 fw-normal shadow-none mb-3"><i
                                        class="ti ti-calendar-check me-1"></i>29 Aug 2023</div>
                                <div class="card border shadow-none mb-3">
                                    <div class="card-body p-3">
                                        <div class="d-flex">
                                            <span class="avatar avatar-md flex-shrink-0 rounded me-2 bg-pending">
                                                <i class="ti ti-mail-code"></i>
                                            </span>
                                            <div>
                                                <h6 class="fw-medium mb-1">You sent 1 Message to the contact.</h6>
                                                <p>10:25 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border shadow-none mb-3">
                                    <div class="card-body p-3">
                                        <div class="d-flex">
                                            <span
                                                class="avatar avatar-md flex-shrink-0 rounded me-2 bg-secondary-success">
                                                <i class="ti ti-phone"></i>
                                            </span>
                                            <div>
                                                <h6 class="fw-medium mb-1">Denwar responded to your appointment schedule
                                                    question by call at 09:30pm.</h6>
                                                <p>09:25 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border shadow-none mb-3">
                                    <div class="card-body p-3">
                                        <div class="d-flex">
                                            <span class="avatar avatar-md flex-shrink-0 rounded me-2 bg-orange">
                                                <i class="ti ti-notes"></i>
                                            </span>
                                            <div>
                                                <h6 class="fw-medium mb-1">Notes added by Antony</h6>
                                                <p class="mb-1">Please accept my apologies for the inconvenience caused.
                                                    It would be much appreciated if it's possible to reschedule to 6:00
                                                    PM, or any other day that week.</p>
                                                <p>10.00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="badge badge-soft-purple fs-14 fw-normal shadow-none mb-3"><i
                                        class="ti ti-calendar-check me-1"></i>28 Feb 2024</div>
                                <div class="card border shadow-none mb-3">
                                    <div class="card-body p-3">
                                        <div class="d-flex">
                                            <span class="avatar avatar-md flex-shrink-0 rounded me-2 bg-info">
                                                <i class="ti ti-user-pin"></i>
                                            </span>
                                            <div>
                                                <h6 class="fw-medium mb-1 d-inline-flex align-items-center flex-wrap">
                                                    Meeting With <span class="avatar avatar-xs mx-2"><img
                                                            src="assets/img/profiles/avatar-19.jpg" alt="img"></span>
                                                    Abraham</h6>
                                                <p>Schedueled on 05:00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border shadow-none mb-3">
                                    <div class="card-body p-3">
                                        <div class="d-flex">
                                            <span
                                                class="avatar avatar-md flex-shrink-0 rounded me-2 bg-secondary-success">
                                                <i class="ti ti-notes"></i>
                                            </span>
                                            <div>
                                                <h6 class="fw-medium mb-1">Drain responded to your appointment schedule
                                                    question.</h6>
                                                <p>09:25 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="badge badge-soft-purple fs-14 fw-normal shadow-none mb-3"><i
                                        class="ti ti-calendar-check me-1"></i>Upcoming Activity</div>
                                <div class="card border shadow-none mb-0">
                                    <div class="card-body p-3">
                                        <div class="d-flex">
                                            <span class="avatar avatar-md flex-shrink-0 rounded me-2 bg-info">
                                                <i class="ti ti-user-pin"></i>
                                            </span>
                                            <div>
                                                <h6 class="fw-medium mb-1">Product Meeting</h6>
                                                <p class="mb-1">A product team meeting is a gathering of the
                                                    cross-functional product team — ideally including team members from
                                                    product, engineering, marketing, and customer support.</p>
                                                <p>25 Jul 2023, 05:00 pm</p>
                                                <div class="upcoming-info">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <p>Reminder</p>
                                                            <div class="dropdown">
                                                                <a href="javascript:void(0);" class="dropdown-toggle"
                                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                        class="ti ti-clock-edit me-1"></i>Reminder<i
                                                                        class="ti ti-chevron-down ms-1"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item"
                                                                        href="javascript:void(0);">Remainder</a>
                                                                    <a class="dropdown-item"
                                                                        href="javascript:void(0);">1 hr</a>
                                                                    <a class="dropdown-item"
                                                                        href="javascript:void(0);">10 hr</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <p>Task Priority</p>
                                                            <div class="dropdown">
                                                                <a href="javascript:void(0);" class="dropdown-toggle"
                                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                                        class="ti ti-square-rounded-filled me-1 text-danger circle"></i>High<i
                                                                        class="ti ti-chevron-down ms-1"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="javascript:void(0);">
                                                                        <i
                                                                            class="ti ti-square-rounded-filled me-1 text-danger circle"></i>High
                                                                    </a>
                                                                    <a class="dropdown-item" href="javascript:void(0);">
                                                                        <i
                                                                            class="ti ti-square-rounded-filled me-1 text-success circle"></i>Low
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <p>Assigned to</p>
                                                            <div class="dropdown">
                                                                <a href="javascript:void(0);" class="dropdown-toggle"
                                                                    data-bs-toggle="dropdown" aria-expanded="false"><img
                                                                        src="assets/img/profiles/avatar-19.jpg"
                                                                        alt="img" class="avatar-xs">John<i
                                                                        class="ti ti-chevron-down ms-1"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="javascript:void(0);">
                                                                        <img src="assets/img/profiles/avatar-19.jpg"
                                                                            alt="img" class="avatar-xs">John
                                                                    </a>
                                                                    <a class="dropdown-item" href="javascript:void(0);">
                                                                        <img src="assets/img/profiles/avatar-15.jpg"
                                                                            alt="img" class="avatar-xs">Peter
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Activities -->


                </div>
                <!-- /Tab Content -->

            </div>
            <!-- /Contact Details -->

        </div>

    </div>
    }
</div>