<!-- Page Wrapper -->
<div class="page-wrapper">
    @if (isLoading) {
    <div class=" text-center d-flex justify-content-center align-items-center ">
        <div class="spinner-border bs-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {
    @if (currentUser) {
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <h4 class="page-title">Profil</h4>
                        </div>
                        <div class="col-sm-8 text-sm-end">
                            <div class="head-icons">
                                <app-reload></app-reload>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <!-- Contact User -->
                <div class="contact-head">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <ul class="contact-breadcrumb">
                                <li><a href="javascript:void(0);">Users</a></li>
                                <li>{{ currentUser.fullname }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="d-flex align-items-center mb-2">
                                <div class="avatar avatar-xxl online online-sm me-3 flex-shrink-0">
                                    <img src="img/profiles/avatar-14.jpg" alt="img">
                                    <span class="status online"></span>
                                </div>
                                <div>
                                    <h5 class="mb-1">{{ currentUser.fullname }}</h5>
                                    <p class="mb-2">{{ currentUser.title }}</p>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-light bg-light-600 text-default me-3">
                                            <i class="ti ti-lock me-1"></i>
                                            {{ currentUser.permission }}
                                        </span>
                                        <!-- <p class="d-inline-flex align-items-center mb-0"><i class="fa-solid fa-star text-warning me-1"></i> 5.0</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="contacts-action">
                                <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit">
                                    <i class="ti ti-edit-circle"></i> Edit profil
                                </a>
                                <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvas_change_password">
                                    <i class="ti ti-edit-circle"></i> Changer Mot de passe
                                </a>
                                <!-- <a href="javascript:void(0);" class="btn-icon" data-bs-toggle="offcanvas"
                                                data-bs-target="#add_compose">
                                                <i class="ti ti-mail"></i>
                                            </a>
                                            <a [routerLink]="routes.chat" class="btn-icon">
                                                <i class="ti ti-brand-hipchat"></i>
                                            </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Contact User -->

            </div>

            <!-- Contact Sidebar -->
            <div class="col-xl-3 theiaStickySidebar">
                <div class="card">
                    <div class="card-body p-3">
                        <h6 class="mb-3 fw-semibold">Basic Information</h6>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-mail"></i>
                                </span>
                                <p>{{ currentUser.email }}</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-phone"></i>
                                </span>
                                <p>{{ currentUser.phone }}</p>
                            </div>
                            <!-- <div class="d-flex align-items-center mb-3">
                                                        <span class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                                            <i class="ti ti-map-pin"></i>
                                                        </span>
                                                        <p>22, Ave Street, Newyork, USA</p>
                                                    </div> -->
                            <div class="d-flex align-items-center mb-3">
                                <span
                                    class="avatar avatar-xs bg-light-300 p-0 flex-shrink-0 rounded-circle text-dark me-2">
                                    <i class="ti ti-calendar-exclamation"></i>
                                </span>
                                <p>Created: {{ currentUser.created_at | date: 'dd/MM/yyyy' }}</p>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-3 fw-semibold">Other Information</h6>
                        <ul>
                            <li class="row mb-3">
                                <span class="col-6">Province</span>
                                <span class="col-6">
                                    @if (currentUser.province_id) {
                                    <app-province-user [province_id]="currentUser.province_id"></app-province-user>
                                    }
                                </span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6">Area</span>
                                <span class="col-6">
                                    @if (currentUser.area_id) {
                                    <app-user-area [id]="currentUser.area_id"></app-user-area>
                                    }
                                </span>
                            </li>
                            <li class="row mb-3">
                                <span class="col-6">Supervisor</span>
                                <span class="col-6">
                                    @if (currentUser.sup_id) {
                                    <app-user-sup [id]="currentUser.sup_id"></app-user-sup>
                                    }
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Contact Sidebar -->

            <!-- Contact Details -->
            <div class="col-xl-9">
                <div class="card mb-3">
                    <div class="card-body pb-0 pt-2">
                        <ul class="nav nav-tabs nav-tabs-bottom" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#notes"
                                    class="nav-link">
                                    <i class="ti ti-notes me-1"></i>Achievements</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#activities"
                                    class="nav-link active">
                                    <i class="ti ti-alarm-minus me-1"></i>Votre activities</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="tab-content pt-0">

                    <!-- Notes -->
                    <div class="tab-pane fade" id="notes">
                        <div class="card">
                            <div class="card-header">
                                <!-- Search -->
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <div class="icon-form mb-3 mb-sm-0">
                                            <span class="form-icon"><i class="ti ti-search"></i></span>
                                            <input type="text" #input2 [(ngModel)]="searchPosForm" 
                                        (ngModelChange)="onSearchChangePosForm($event)" class="form-control" 
                                        placeholder="Ex. eq" >
                                        </div>
                                    </div> 
                                </div>
                                <!-- /Search -->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive custom-table">
                                    <table mat-table [dataSource]="dataSourcePosForm" matSort (matSortChange)="sortDataPosForm($event)"
                                        class="mat-elevation-z2 table">
        
                                        <!-- eq Column -->
                                        <ng-container matColumnDef="eq">
                                            <th mat-header-cell *matHeaderCellDef> EQ </th>
                                            <td mat-cell *matCellDef="let element"> {{element.eq}} </td>
                                        </ng-container>
        
                                        <!-- sold Column -->
                                        <ng-container matColumnDef="sold">
                                            <th mat-header-cell *matHeaderCellDef> SOLDE </th>
                                            <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
                                        </ng-container>
        
                                        <!-- dhl Column -->
                                        <ng-container matColumnDef="dhl">
                                            <th mat-header-cell *matHeaderCellDef> DHL </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dhl}} </td>
                                        </ng-container>
        
                                         <!-- ar Column -->
                                         <ng-container matColumnDef="ar">
                                            <th mat-header-cell *matHeaderCellDef> AR </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ar}} </td>
                                        </ng-container>
        
                                        <!-- sbl Column -->
                                        <ng-container matColumnDef="sbl">
                                            <th mat-header-cell *matHeaderCellDef> SBL </th>
                                            <td mat-cell *matCellDef="let element"> {{element.sbl}} </td>
                                        </ng-container>
        
                                        <!-- pmf Column -->
                                        <ng-container matColumnDef="pmf">
                                            <th mat-header-cell *matHeaderCellDef> PMF </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pmf}} </td>
                                        </ng-container>
        
                                         <!-- pmm Column -->
                                         <ng-container matColumnDef="pmm">
                                            <th mat-header-cell *matHeaderCellDef> PMM  </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pmm}} </td>
                                        </ng-container>
        
                                        <!-- ticket Column -->
                                        <ng-container matColumnDef="ticket">
                                            <th mat-header-cell *matHeaderCellDef> TICKET </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ticket}} </td>
                                        </ng-container>
        
                                        <!-- mtc Column -->
                                        <ng-container matColumnDef="mtc">
                                            <th mat-header-cell *matHeaderCellDef> MTC </th>
                                            <td mat-cell *matCellDef="let element"> {{element.mtc}} </td>
                                        </ng-container>
        
                                         <!-- ws Column -->
                                         <ng-container matColumnDef="ws">
                                            <th mat-header-cell *matHeaderCellDef> WS </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ws}} </td>
                                        </ng-container>
        
                                        <!-- mast Column -->
                                        <ng-container matColumnDef="mast">
                                            <th mat-header-cell *matHeaderCellDef> MAST </th>
                                            <td mat-cell *matCellDef="let element"> {{element.mast}} </td>
                                        </ng-container>
        
                                        <!-- oris Column -->
                                        <ng-container matColumnDef="oris">
                                            <th mat-header-cell *matHeaderCellDef> ORIS </th>
                                            <td mat-cell *matCellDef="let element"> {{element.oris}} </td>
                                        </ng-container>
        
                                         <!-- elite Column -->
                                         <ng-container matColumnDef="elite">
                                            <th mat-header-cell *matHeaderCellDef> ELITE </th>
                                            <td mat-cell *matCellDef="let element"> {{element.elite}} </td>
                                        </ng-container>
        
                                        <!-- yes Column -->
                                        <ng-container matColumnDef="yes">
                                            <th mat-header-cell *matHeaderCellDef> YES </th>
                                            <td mat-cell *matCellDef="let element"> {{element.yes}} </td>
                                        </ng-container>
        
                                        <!-- time Column -->
                                        <ng-container matColumnDef="time">
                                            <th mat-header-cell *matHeaderCellDef> TIME </th>
                                            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                                        </ng-container> 
        
                                        <!-- province Column -->
                                        <ng-container matColumnDef="province_id">
                                            <th mat-header-cell *matHeaderCellDef> Province </th>
                                            <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                                        </ng-container>
        
                                        <!-- Area Column -->
                                        <ng-container matColumnDef="area_id">
                                            <th mat-header-cell *matHeaderCellDef> AREA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                                        </ng-container>
        
                                         <!-- Sup Column -->
                                         <ng-container matColumnDef="sup_id">
                                            <th mat-header-cell *matHeaderCellDef> Sup </th>
                                            <td mat-cell *matCellDef="let element"> {{element.sup}} </td>
                                        </ng-container>
        
                                        <!-- POS Column -->
                                        <ng-container matColumnDef="pos_id">
                                            <th mat-header-cell *matHeaderCellDef> POS </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
                                        </ng-container> 
        
                                         <!-- comment Column -->
                                         <ng-container matColumnDef="comment">
                                            <th mat-header-cell *matHeaderCellDef> Comment </th>
                                            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                                        </ng-container> 
        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPosForm"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPosForm;"></tr>
        
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            @if (isLoadingData){
                                            <button disabled class="btn btn-primary">
                                                <div class="spinner-border" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </button>
                                            } @else {
                                            <td class="mat-cell" colspan="4">No data matching the filter "{{input2.value}}"</td>
                                            }
                                        </tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="lengthPosForm" [pageSize]="pageSizePosForm"
                                    [pageSizeOptions]="[15, 20, 30, 40, 50, 80, 100]" showFirstLastButtons
                                    (page)="onPageChangePosForm($event)" aria-label="Select page">
                                </mat-paginator>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="datatable-length"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="datatable-paginate"></div>
                                    </div>
                                </div>
                                <!-- /Projects List -->
                            </div>
                        </div>
                    </div>
                    <!-- /Notes -->

                    <!-- Activities -->
                    <div class="tab-pane active show" id="activities">
                        <div class="card"> 
                            <div class="card-header">
                                <!-- Search -->
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <div class="icon-form mb-3 mb-sm-0">
                                            <span class="form-icon"><i class="ti ti-search"></i></span>
                                            <input type="text" #input [(ngModel)]="searchLog" 
                                            (ngModelChange)="onSearchChangeLog($event)" class="form-control" 
                                            placeholder="Ex. Jean paul">
                                        </div>
                                    </div> 
                                </div>
                                <!-- /Search -->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive custom-table">
                                    <table mat-table [dataSource]="dataSourceLog" matSort (matSortChange)="sortDataLog($event)"
                                        class="mat-elevation-z2 table">
    
                                        <!-- created Column -->
                                        <ng-container matColumnDef="created">
                                            <th mat-header-cell *matHeaderCellDef> Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd/MM/yyyy HH:mm'}} </td>
                                        </ng-container> 
    
                                        <!-- Titre Column -->
                                        <ng-container matColumnDef="title">
                                            <th mat-header-cell *matHeaderCellDef> Title </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.title}}
                                            </td>
                                        </ng-container>
    
                                        <!-- name Column -->
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef> Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
    
                                        <!-- action Column -->
                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element">
                                                @if (element.action == 'created') {
                                                <span class="badge badge-pill bg-success">{{element.action}} </span>
                                                } @else if (element.action == 'updated') {
                                                <span class="badge badge-pill bg-warning">{{element.action}} </span>
                                                } @else if (element.action == 'deleted') {
                                                <span class="badge badge-pill bg-danger">{{element.action}} </span>
                                                } @else if (element.action == 'login') {
                                                <span class="badge badge-pill bg-success">{{element.action}} </span>
                                                } @else if (element.action == 'logout') {
                                                <span class="badge badge-pill bg-info">{{element.action}} </span>
                                                }
                                            </td>
                                        </ng-container>
    
                                        <!-- description Column -->
                                        <ng-container matColumnDef="description">
                                            <th mat-header-cell *matHeaderCellDef> Description </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.description}}
                                            </td>
                                        </ng-container>
    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsLog"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsLog;"></tr>
    
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            @if (isLoadingData){
                                            <button disabled class="btn btn-primary">
                                                <div class="spinner-border" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </button>
                                            } @else {
                                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                            </td>
                                            }
                                        </tr>
                                    </table>
                                </div>
                                <mat-paginator [length]="lengthLog" [pageSize]="pageSizeLog"
                                    [pageSizeOptions]="[15, 20, 30, 40, 50, 80, 100]" showFirstLastButtons
                                    (page)="onPageChangeLog($event)" aria-label="Select page">
                                </mat-paginator>
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="datatable-length"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="datatable-paginate"></div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- /Activities --> 
                </div>
                <!-- /Tab Content -->

            </div>
            <!-- /Contact Details -->

        </div>

    </div>
    }
    }



</div>


<!-- Edit Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
    <div class="offcanvas-header border-bottom">
        <h4>Edit Profil</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">Nom complet <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="fullname" required />
                            <mat-error *ngIf="formGroup.controls['fullname'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" formControlName="email" required />
                            <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">Phone <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="phone" required />
                            <mat-error *ngIf="formGroup.controls['phone'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoadingEdit) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoadingEdit) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Save Changes</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Edit Contracts -->


<!-- Change password -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_change_password">

    <div class="offcanvas-header border-bottom">
        <h4>Changer votre mot de passe</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroupChangePassword" (ngSubmit)="onSubmitChangePassword()">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Ancien mot de passe <span
                                class="text-danger">*</span></label>
                        <div class="icon-form-end">
                            <span class="form-icon" (click)="togglePassword(1)" tabindex="0"><i class="ti"
                                    [ngClass]="password[1] ? 'ti-eye' : 'ti-eye-off'"></i></span>
                            <input [type]="password[1] ? 'text' : 'password'" class="form-control"
                                formControlName="old_password" required />
                            <mat-error *ngIf="formGroupChangePassword.controls['old_password'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label" for="Password">Mot de passe <span
                                class="text-danger">*</span></label>
                        <div class="icon-form-end">
                            <span class="form-icon" (click)="togglePassword(2)" tabindex="0"><i class="ti"
                                    [ngClass]="password[2] ? 'ti-eye' : 'ti-eye-off'"></i></span>
                            <input [type]="password[2] ? 'text' : 'password'" class="form-control"
                                formControlName="password" required />
                            <mat-error *ngIf="formGroupChangePassword.controls['password'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label" for="text">Répéter le mot de passe <span
                                class="text-danger">*</span></label>
                        <div class="icon-form-end">
                            <span class="form-icon" (click)="togglePassword(3)" (keydown.enter)="togglePassword(3)"
                                tabindex="0"><i class="ti" [ngClass]="password[3] ? 'ti-eye' : 'ti-eye-off'"></i></span>
                            <input [type]="password[3] ? 'text' : 'password'" class="form-control"
                                formControlName="password_confirm" required />
                            <mat-error
                                *ngIf="formGroupChangePassword.controls['password_confirm'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoadingChangePassword) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoadingChangePassword) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Save Changes</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- Change password -->