<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <h4 class="page-title">
                                POS FORM<span class="count-title">{{totalUser}}</span>
                            </h4>
                        </div>
                        <div class="col-8 text-end">
                            <div class="head-icons">
                                <a [routerLink]="routes.contractList" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-original-title="Refresh" matTooltip="Refresh">
                                    <i class="ti ti-refresh-dot"></i>
                                </a>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card">
                    <div class="card-header">
                        <!-- Search -->
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <div class="icon-form mb-3 mb-sm-0">
                                    <span class="form-icon"><i class="ti ti-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                    <div class="dropdown me-2">
                                        <a href="javascript:void(0);" class="dropdown-toggle"
                                            data-bs-toggle="dropdown"><i
                                                class="ti ti-package-export me-2"></i>Export</a>
                                        <div class="dropdown-menu  dropdown-menu-end">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="ti ti-file-type-pdf text-danger me-1"></i>Export as
                                                        PDF</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="ti ti-file-type-xls text-green me-1"></i>Export as
                                                        Excel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvas_add">
                                        <i class="ti ti-square-rounded-plus me-2"></i>
                                        Add New posform
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /Search -->
                    </div>
                    <div class="card-body">
                        <!-- Filter -->
                        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2 mb-4">
                            <div class="d-flex align-items-center flex-wrap row-gap-2">
                                <div class="dropdown me-2">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i
                                            class="ti ti-sort-ascending-2 me-2"></i>Sort
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-start">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <i class="ti ti-circle-chevron-right me-1"></i>Ascending
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <i class="ti ti-circle-chevron-right me-1"></i>Descending
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <i class="ti ti-circle-chevron-right me-1"></i>Recently Viewed
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <i class="ti ti-circle-chevron-right me-1"></i>Recently Added
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <app-date-range-picker></app-date-range-picker>
                            </div>
                        </div>
                        <!-- /Filter -->

                        <!-- Projects List -->
                        <div class="table-responsive custom-table">
                            <table matSort (matSortChange)="sortData($event)" class="table" id="contracts-list">
                                <thead class="thead-light">
                                    <tr>
                                        <th mat-sort-header="equateur">EQ</th>
                                        <th mat-sort-header="sold">SOLDE</th>
                                        <th mat-sort-header="dhl">DHL</th>
                                        <th mat-sort-header="ar">AR</th>
                                        <th mat-sort-header="sbl">SBL</th>
                                        <th mat-sort-header="pmf">PMF</th>
                                        <th mat-sort-header="ticket">TICKET</th>
                                        <th mat-sort-header="mtc">MTC</th>
                                        <th mat-sort-header="ws">WS</th>
                                        <th mat-sort-header="mast">MAST</th>
                                        <th mat-sort-header="oris">ORIS</th>
                                        <th mat-sort-header="elite">ELITE</th> 
                                        <th mat-sort-header="yes">YES</th>
                                        <th mat-sort-header="time">TIME</th>
                                        <th mat-sort-header="province_id">Province</th>
                                        <th mat-sort-header="area_id">Area</th>
                                        <th mat-sort-header="sup_id">Sup</th>
                                        <th mat-sort-header="pos_id">Pos</th>
                                        <th mat-sort-header="user_id">DR</th>
                                        <th mat-sort-header="comment">Comment</th>
                                        <th mat-sort-header="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (data of tableData; track data; let i = $index) {
                                    <tr class="odd">
                                        <td>{{ data.equateur }}</td>
                                        <td>{{ data.sold }}</td>
                                        <td>{{ data.dhl }}</td>
                                        <td>{{ data.ar }}</td>
                                        <td>{{ data.sbl }}</td>
                                        <td>{{ data.pmf }}</td>
                                        <td>{{ data.ticket }}</td>
                                        <td>{{ data.mtc }}</td>
                                        <td>{{ data.ws }}</td>
                                        <td>{{ data.mast }}</td>
                                        <td>{{ data.oris }}</td>
                                        <td>{{ data.elite }}</td> 
                                        <td>{{ data.yes }}</td>
                                        <td>{{ data.time }}</td>
                                        <td>
                                            <app-posform-province
                                                [idProvince]="data.province_id"></app-posform-province>
                                        </td>
                                        <td>
                                            <app-posform-area [idArea]="data.area_id"></app-posform-area>
                                        </td>
                                        <td>
                                            <app-posform-sup [idSup]="data.sup_id"></app-posform-sup>
                                        </td>
                                        <td>
                                            <app-posform-pos [idPOS]="data.pos_id"></app-posform-pos>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="add-popups">
                                                <app-posform-user [id_user]="data.user_id"></app-posform-user>
                                            </a>
                                        </td>
                                        <td>{{ data.comment }}</td>
                                        <td>
                                            <div class="dropdown table-action">
                                                <a href="javascript:void(0);" class="action-icon"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">

                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="findValue(data.id_unique)" data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvas_edit">
                                                        <i class="ti ti-edit text-blue"></i>
                                                        Edit
                                                    </a>

                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        data-bs-toggle="modal" (click)="findValue(data.id_unique)"
                                                        data-bs-target="#delete_contact"><i
                                                            class="ti ti-trash text-danger"></i>
                                                        Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <app-custom-pagination></app-custom-pagination>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="datatable-length"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="datatable-paginate"></div>
                            </div>
                        </div>
                        <!-- /Projects List -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<!-- Add New Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">

    <div class="offcanvas-header border-bottom">
        <h4>Add New posform</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                          <label class="col-form-label" for="pos_id">
                            POS
                            <span class="text-danger">*</span>
                          </label>
                          <mat-select class="select custom-mat-select" formControlName="pos_id" placeholder="Choose pos">
                            @for (item of posListFilter; track item) {
                            <mat-option value="{{item.ID}}">{{item.name}}|{{item.shop}}</mat-option>
                            }
                          </mat-select>
                          <mat-error *ngIf="formGroup.controls['pos_id'].hasError('required')">
                            Ce champs est obligatoire
                          </mat-error>
                        </div>
                      </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">EQ <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="equateur" required />
                            <mat-error *ngIf="formGroup.controls['equateur'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">SOLDE <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="sold" required />
                            <mat-error *ngIf="formGroup.controls['sold'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">DHL <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="dhl" required />
                            <mat-error *ngIf="formGroup.controls['dhl'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">AR <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="ar" required />
                            <mat-error *ngIf="formGroup.controls['ar'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">SBL <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="sbl" required />
                            <mat-error *ngIf="formGroup.controls['sbl'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">PMF <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="pmf" required />
                            <mat-error *ngIf="formGroup.controls['pmf'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">TICKET <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="ticket" required />
                            <mat-error *ngIf="formGroup.controls['ticket'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">MTC <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="mtc" required />
                            <mat-error *ngIf="formGroup.controls['mtc'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">WS <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="ws" required />
                            <mat-error *ngIf="formGroup.controls['ws'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">MAST <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="mast" required />
                            <mat-error *ngIf="formGroup.controls['mast'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">ORIS <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="oris" required />
                            <mat-error *ngIf="formGroup.controls['oris'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">ELITE <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="elite" required />
                            <mat-error *ngIf="formGroup.controls['elite'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">YES <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="yes" required />
                            <mat-error *ngIf="formGroup.controls['yes'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">TIME <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="time" required />
                            <mat-error *ngIf="formGroup.controls['time'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">Comment <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="comment" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Create</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Add New Contracts -->


<!-- Edit Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">

    <div class="offcanvas-header border-bottom">
        <h4>Edit posform</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">EQ <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="equateur" required />
                            <mat-error *ngIf="formGroup.controls['equateur'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">SOLDE <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="sold" required />
                            <mat-error *ngIf="formGroup.controls['sold'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">DHL <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="dhl" required />
                            <mat-error *ngIf="formGroup.controls['dhl'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">AR <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="ar" required />
                            <mat-error *ngIf="formGroup.controls['ar'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">SBL <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="sbl" required />
                            <mat-error *ngIf="formGroup.controls['sbl'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">PMF <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="pmf" required />
                            <mat-error *ngIf="formGroup.controls['pmf'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">TICKET <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="ticket" required />
                            <mat-error *ngIf="formGroup.controls['ticket'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">MTC <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="mtc" required />
                            <mat-error *ngIf="formGroup.controls['mtc'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">WS <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="ws" required />
                            <mat-error *ngIf="formGroup.controls['ws'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">MAST <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="mast" required />
                            <mat-error *ngIf="formGroup.controls['mast'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">ORIS <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="oris" required />
                            <mat-error *ngIf="formGroup.controls['oris'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">ELITE <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="elite" required />
                            <mat-error *ngIf="formGroup.controls['elite'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">YES <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="yes" required />
                            <mat-error *ngIf="formGroup.controls['yes'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">TIME <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" formControlName="time" required />
                            <mat-error *ngIf="formGroup.controls['time'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="col-form-label" for="text">Comment <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="comment" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Save Changes</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Edit Contracts -->

<!-- Delete User -->
<div class="modal fade" id="delete_contact" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove item?</h4>
                    <p class="mb-0">Are you sure you want to remove it</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button (click)="delete()" class="btn btn-danger" data-bs-dismiss="modal">
                            Yes, Delete it
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete User -->
<!-- /Delete Contracts -->